In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dinesh mutha\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sortedcontainers in c:\users\dinesh mutha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\dinesh mutha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\dinesh mutha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\dinesh mutha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\dinesh mutha\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\dinesh mutha\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dinesh mutha\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [4]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [3]:
# web driver to be used, needs to be connected first

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_26688/2593990852.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
# input designation
search_field_designation=driver.find_element(By.CLASS_NAME, "suggestor-input ")
search_field_designation.send_keys("Data Analyst")

In [6]:
# input job location
search_field_location = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')

In [7]:
# send location key
search_field_location.send_keys('Bangalore')

In [8]:
# using  xpath function for scraping 
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')

In [9]:
search.click()

In [10]:
# extract data from job titles
titles_tags=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")

In [11]:
job_titles =[]
for i in titles_tags[ : 10]:
    job_titles.append(i.text)
job_titles

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst']

In [12]:
companies_tags = driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")

In [13]:
company_names=[]
for i in companies_tags[0 : 10]:
    company_names.append(i.text)
company_names

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India']

In [14]:
experience_tags = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [15]:
experience_list=[]
for i in experience_tags[0 : 10]:
    experience_list.append(i.text)
experience_list

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs']

In [16]:
location_tags = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [17]:
location_list=[]
for i in location_tags[ : 10]:
    location_list.append(i.text)
location_list

['Bangalore/Bengaluru, karnataka',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
print(len(job_titles), len(company_names), len(experience_list), len(location_list))

10 10 10 10

In [19]:
import pandas as pd

jobs = pd.DataFrame({})
jobs['title'] = job_titles
jobs['company'] = company_names
jobs['location'] = location_list
jobs['experience'] = experience_list

jobs

,title,company,location,experience
0,Sr.Business Data Analyst,Collabera,"Bangalore/Bengaluru, karnataka",6-11 Yrs
1,Sr Data Analyst,Thomson Reuters,(WFH during Covid),5-8 Yrs
2,Senior Data Analysis Analyst,Capco,Bangalore/Bengaluru,7-12 Yrs
3,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,"Bangalore/Bengaluru, Pune, Chennai",0-2 Yrs
4,Data Analyst,Thomson Reuters,"Bangalore/Bengaluru, Ahmedabad",2-3 Yrs
5,Senior Data Analyst,KrazyBee,Bangalore/Bengaluru,3-6 Yrs
6,Associate Data Analyst,Optum,Bangalore/Bengaluru(Old Madras Road),2-7 Yrs
7,Associate Data Analyst,Optum,Bangalore/Bengaluru,1-4 Yrs
8,Data Analyst/Senior Data Analyst,Meesho,Bangalore/Bengaluru,3-6 Yrs
9,Financial Data Analyst,Nuance India,Bangalore/Bengaluru,3-8 Yrs

## data scientist jobs.

In [ ]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [31]:
# web driver to be used, needs to be connected first

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_26688/2593990852.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [32]:
url = 'https://www.naukri.com/'
driver.get(url)

In [33]:
#send job designation
search_designation=driver.find_element(By.CLASS_NAME, "suggestor-input ")
search_designation.send_keys("Data Scientist")

In [34]:
#search location
search_field_location = driver.find_element(By.XPATH, "/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [35]:
#click with xpath
search_button = driver.find_element(By.XPATH , '/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [36]:
job_titles = []
company_names = []
loc = []

In [37]:
# extract tags having job title
title_tags=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")

In [38]:
for i in title_tags[ : 10]:
    titles=i.text
    job_titles.append(titles)
job_titles

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )']

In [39]:
# extract location tags
locations_tag = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [40]:
# location is in location_tags 
for i in locations_tag[ : 10]:
    locations = i.text
    loc.append(locations)
loc = loc [ : 10]

In [41]:
# extract company names tags
companies_tags=driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")

In [42]:
# company name in the tag extracted above
for i in companies_tags[ : 10]:
    company_name=i.text
    company_names.append(company_name)
company_names = company_names [ : 10]

In [43]:
print(len(job_titles), len(company_names), len(loc))

10 10 10

In [44]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df2 = pd.DataFrame({'Job Title':job_titles, 'Job Location':locations, 'Company Name':company_names})
df2

,Job Title,Job Location,Company Name
0,Data Scientist/ Senior Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Fractal Analytics
1,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro
2,Dataiku Consultant,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro
3,Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Applied Materials
4,Data & Analytics Tech - Informatica Cloud- Sen...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",PwC
5,Data Scientist: Advanced Analytics,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",IBM
6,Research Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",IBM
7,Data Science - Senior Data Scientist - Analytics,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Paytm
8,Principal - Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Schneider Electric
9,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL

##  data scientist first 10 jobs
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [ ]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [45]:
# web driver to be used, needs to be connected first

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_26688/2593990852.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [46]:
url = 'https://www.naukri.com/'
driver.get(url)

In [47]:
#send job designation
search_designation=driver.find_element(By.CLASS_NAME, "suggestor-input ")
search_designation.send_keys("Data Scientist")

In [48]:
#search location
search_field_location = driver.find_element(By.XPATH, "/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys("Delhi/NCR")

In [49]:
#click with xpath
search_button = driver.find_element(By.XPATH , '/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [55]:
job_titles = []
company_names = []
loc1 = []

In [56]:
# extract tags having job title
title_tags=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")

In [57]:
for i in title_tags[ : 10]:
    titles=i.text
    job_titles.append(titles)
job_titles

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Data Science - Senior Data Scientist - Analytics',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist - Python/Machine Learning',
 'Senior Associate - Data Science']

In [58]:
# extract location tags
location_tag = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag [ : 10]

[<selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="871bf823-63a4-402d-8b94-12ee110c6a2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="3a76bf80-fbc2-4610-858c-7c3abea16adc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="5320dae0-4fe6-4ca2-8903-b713bd3ef204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="d93eec72-3090-4012-96c8-2c1452ffc769")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="6b947d06-de70-453a-869d-298b5a02989a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="247f285b-3276-4687-be69-5a65a82c85d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="ec5df0cd-761b-4e38-9623-63fe4982fdc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="b6cb6903-a9ea-47b9-a8d8-815169f8dfdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="b7f17041-0887-42fa-984c-4f41b882d55b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e66bb554f8311cf87e150fbe40e61d36", element="a900b4cf-b46f-43e0-a976-f09da80940e9")>]

In [59]:
# location is in location_tags 
for i in location_tag[ : 10]:
    locations = i.text
    loc1.append(locations)
loc1 = loc1 [ : 10]

In [60]:
# extract company names tags
companies_tags=driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")

In [61]:
# company name in the tag extracted above
for i in companies_tags[ : 10]:
    company_name=i.text
    company_names.append(company_name)
company_names = company_names [ : 10]

In [62]:
print(len(job_titles), len(company_names), len(loc1))

10 10 10

In [64]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df2 = pd.DataFrame({'Job Title':job_titles, 'Job Location':loc1, 'Company Name':company_names})
df2

,Job Title,Job Location,Company Name
0,Data Scientist/ Senior Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",Fractal Analytics
1,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro
2,Data Science - Senior Data Scientist - Analytics,"Noida, Bangalore/Bengaluru",Paytm
3,Research and Development -AI/ML -(PhD ),"Delhi / NCR, Noida, Hyderabad/Secunderabad, Pu...",EXL
4,Opportunity For Data Scientist - Female Candid...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",PayU
5,Senior Data Science Engineer,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics
6,Data Science - Engineering Manager,"Noida, Mumbai, Bangalore/Bengaluru",Paytm
7,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group
8,Data Scientist - Python/Machine Learning,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Accubits Technologies
9,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle

## 100 listings on flipkart.com

In [6]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [7]:
# web driver to be used, needs to be connected

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_8000/2924793791.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [8]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [9]:
# closing the login tab first
search_button = driver.find_element(By.XPATH , '/html/body/div[2]/div/div/button')
search_button.click()

In [180]:
# search products
search_sunglasses = driver.find_element(By.CLASS_NAME, "_3704LK")
search_sunglasses.send_keys('sunglasses')

In [181]:
search_b1 = driver.find_element(By.XPATH , '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_b1.click()

In [191]:
sunglasses_1 = driver.find_element(By.XPATH, "//div[@class='_1xHGtK _373qXS']")
sunglasses_1

In [185]:
click_next = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
click_next.click()

In [186]:
sunglasses_2 = driver.find_element(By.CLASS_NAME, "_2B099V")
sunglasses_2

In [187]:
click_next2 = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
click_next2.click()

In [188]:
sunglasses_3 = driver.find_element(By.CLASS_NAME, "_2WkVRV")
sunglasses_3

In [195]:
print(len(sunglasses_1), len(sunglasses_2), len(sunglasses_3))

TypeError: object of type 'WebElement' has no len()

In [194]:
df3 = pd.DataFrame({'sunglasses' : sunglasses_1, 'sunglasses2' : sunglasses_2, 'sunglasses3' : sunglasses_3})
df3

ValueError: If using all scalar values, you must pass an index

## Scrape 100 reviews data from flipkart.com for iphone11 phone

In [10]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [32]:
# web driver to be used, needs to be connected

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_8000/2924793791.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [33]:
# select the url
url = 'https://www.flipkart.com/'
driver.get(url)

In [34]:
# closing the login tab first
search_button = driver.find_element(By.XPATH , '/html/body/div[2]/div/div/button')
search_button.click()

In [35]:
# search product
iphone = driver.find_element(By.CLASS_NAME, "_3704LK")
iphone.send_keys("iphone 11")

In [36]:
search_b1 = driver.find_element(By.XPATH , '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_b1.click()

In [37]:
url_1 = 'https://www.flipkart.com/apple-iphone-11-white-128-gb/p/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&lid=LSTMOBFWQ6B7KKRXDDSUPVRTR&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=b4e0209b-1d15-4c8c-af8a-4bdd196696e8.MOBFWQ6B7KKRXDDS.SEARCH&ppt=hp&ppn=homepage&ssid=rfqaoh34lc0000001657690555867&qH=f6cdfdaa9f3c23f3'
driver.get(url_1)

In [39]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8X0KYUG&marketplace=FLIPKART')

In [40]:
rating = []
rev_sum = []
full_rev = []

In [41]:
for j in range (0,10):   
    time.sleep(5)

rating_tags = driver.find_elements(By.XPATH, "//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq' ]")

In [ ]:
#rating inside rating tag
for i in rating_tags:                 
        titles=i.text
        rating.append(titles)

In [ ]:
#extract tags with review
revsum_tags = driver.find_elements(By.XPATH, "//p[@class='_2-N8zT']")

In [ ]:
# review summary is in above summary tag
for i in revsum_tags:
        products = i.text
        rev_sum.append(products)

In [ ]:
# extract full reviews tags
fulrev_tags = driver.find_elements(By.XPATH, "//div[@class='t-ZTKy']")

In [ ]:
# full review summary is in above summary tag
for i in fulrev_tags:
    r = i.text
    full_rev.append(r)

In [ ]:
if j==0:
        time.sleep(5)                             
        next_button=driver.find_element(By.XPATH, "/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
        next_button.click()
        time.sleep(5)
    else:
        time.sleep(5)                            
        next_button=driver.find_element(By.XPATH, "/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
        next_button.click()
        time.sleep(5)

In [ ]:
# check entire data frame
pd.set_option("display.max_rows", None, "display.max_columns", None)
# print the dataframe
df3 = pd.DataFrame({'Rating' : rating[0 : 100], 'Review Summary' : rev_sum[0 : 100], 'Full Review' : ful_rev[0 : 100]})
df3

##  Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [ ]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [42]:
# web driver to be used, needs to be connected

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_8000/2924793791.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [43]:
# select the url
url3  = 'https://www.flipkart.com/'
driver.get(url3)

In [44]:
# closing the login tab first
search_button = driver.find_element(By.XPATH , '/html/body/div[2]/div/div/button')
search_button.click()

In [45]:
# search product
search_sneakers = driver.find_element(By.CLASS_NAME, "_3704LK")
search_sneakers.send_keys("sneakers")

In [46]:
# click the search button
search_b2 = driver.find_element(By.XPATH , '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_b2.click()

In [47]:
brand = []
product = []
price = []
discount = []

In [ ]:
for j in range (0,3):
    time.sleep(5)
    
# extracting all the tags brand
brand_tags=driver.find_elements(By.XPATH, "//div[@class='_2WkVRV']")

In [ ]:
# Now the text in brand is inside the tag above
for i in brand_tags:
    titles=i.text
    brand.append(titles)

In [ ]:
# extracting all tags with product description
product_tags=driver.find_elements(By.XPATH, "//div[@class='_2B099V']/a[1]")

In [ ]:
# Now the text in product is inside the tag above 
for i in product_tags:
    products=i.text
    product.append(products)

In [ ]:
# extracting all tags having the price
price_tags=driver.find_elements(By.XPATH, "//div[@class='_30jeq3']")

In [ ]:
# Now the text in price is inside the tag above
for i in price_tags:
    prices=i.text
    price.append(prices)

In [ ]:
#Lets extract all the tags having the discount
discount_tags = driver.find_elements(By.XPATH, "//div[@class='_3Ay6Sb']/span")

In [ ]:
# Now the text in discount is inside the tag above
for i in discount_tags:
        discounts=i.text
        discount.append(discounts)

In [ ]:
# click on the next button
if j==0:
        time.sleep(5)
        next_button=driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
        next_button.click()
        time.sleep(5)
else:
        time.sleep(5)
        next_button=driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
        next_button.click()
        time.sleep(5)

In [ ]:
# check complete data frame
pd.set_option("display.max_rows", None, "display.max_columns", None)
df4 = pd.DataFrame({'Brand':brand[0:100], 'Product description':product[0:100], 'Price': price[0:100], 'Discount Provided': discount[0:100]})
df4

##  Go to the link - https://www.myntra.com/shoes . Set second Price filter and Color filter to           “Black”

In [31]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [32]:
# web driver to be used, needs to be connected

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_21900/2924793791.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [33]:
# open the required url
url4 = 'https://www.myntra.com/shoes'
driver.get(url4)

In [34]:
# apply color & price filter
driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6637.0_13125.0_6637.0%20TO%2013125.0%2C299.0_7224.0_299.0%20TO%207224.0')

WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: unexpected command response
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00616463+2188387]
	Ordinal0 [0x005AE461+1762401]
	Ordinal0 [0x004C3D78+802168]
	Ordinal0 [0x004B7210+750096]
	Ordinal0 [0x004B675A+747354]
	Ordinal0 [0x004B5D3F+744767]
	Ordinal0 [0x004B4C28+740392]
	Ordinal0 [0x004B5228+741928]
	Ordinal0 [0x004BF153+782675]
	Ordinal0 [0x004C9FBB+827323]
	Ordinal0 [0x004CD310+840464]
	Ordinal0 [0x004B54F6+742646]
	Ordinal0 [0x004C9BF3+826355]
	Ordinal0 [0x0051CF6D+1167213]
	Ordinal0 [0x0050C5F6+1099254]
	Ordinal0 [0x004E6BE0+945120]
	Ordinal0 [0x004E7AD6+948950]
	GetHandleVerifier [0x008B71F2+2712546]
	GetHandleVerifier [0x008A886D+2652765]
	GetHandleVerifier [0x006A002A+520730]
	GetHandleVerifier [0x0069EE06+516086]
	Ordinal0 [0x005B468B+1787531]
	Ordinal0 [0x005B8E88+1805960]
	Ordinal0 [0x005B8F75+1806197]
	Ordinal0 [0x005C1DF1+1842673]
	BaseThreadInitThunk [0x760E6739+25]
	RtlGetFullPathName_UEx [0x77108FEF+1215]
	RtlGetFullPathName_UEx [0x77108FBD+1165]

In [35]:
brand = []
product = []
price = []

In [36]:
for j in range (0,2):          
    time.sleep(5)
# extract all the tags of brand
brand_tags = driver.find_elements(By.XPATH, "//h3[@class='product-brand']")

In [37]:
# Now text of brand is inside the tag above
for i in brand_tags:
    titles = i.text
    brand.append(titles)

In [38]:
# Lets extract all the tags with product description
product_tags = driver.find_elements(By.XPATH, "//h4[@class='product-product']")

In [39]:
# Now the text of product description is inside the tag above
for i in product_tags:
    products=i.text
    product.append(products)

In [40]:
# Lets extract the tags having price
price_tags = driver.find_elements(By.XPATH, "//div[@class='product-price']/span[1]")

In [41]:
# Now the text of price is inside the tag above
for i in price_tags:
    prices = i.text.split()[1]
    pr = prices.replace('Rs.','')
    price.append(''.join(pr))

In [42]:
# click next button
time.sleep(5)
next_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_button.click()
time.sleep(5)

In [51]:
sr_no=[]
for k in range(1,51):
    sr_no.append(k)

In [52]:
# check complete data frame
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [53]:
print(len(brand), len(product), len(price))

50 50 50

In [54]:
df5 = pd.DataFrame ({'Brand':brand[0 : 50], 'Product description':product[0 : 50], 'Price': price[0 : 50]}, index=sr_no)
df5

                    Brand                Product description  Price
1                    Nike     Men DOWNSHIFTER11 Running Shoe   3395
2         PUMA Motorsport     Unisex Ferrari Neo Cat Sneaker   2799
3                  ADIDAS            Men Herlz Running Shoes   1999
4                Red Tape                  Men Walking Shoes   1469
5              Eego Italy                 Men Trekking Shoes    987
6                Red Tape                Women Walking Shoes   1259
7                Red Tape                  Men Running Shoes   1649
8                    Puma       Eternity Nitro Running Shoes  11049
9                    Puma                 Men Black Sneakers   2024
10                   Nike            Kids REVOLUTION 4 Shoes   1299
11                   Nike     Men RENEW RIDE 3 Running Shoes   5350
12              TWIN TOES                 Women Sports Shoes    895
13                   Nike       Men React Infinity 3 Running  11895
14               Roadster                       Men Sneakers    872
15               Red Tape                  Men Walking Shoes   1949
16                  Sparx                  Men Running Shoes   1022
17               Red Tape                  Men Walking Shoes   1589
18                MENGLER                  Men Walking Shoes    679
19   Nabaiji By Decathlon         Unisex Aqua Aerobics Shoes    899
20              Shoetopia                Women Walking Shoes    792
21                 ADIDAS     Men Seize The Street Run Shoes   3654
22                   Puma             Men Enzo Running Shoes   2749
23               Red Tape                  Men Walking Shoes   1649
24                 Killer  Men Woven Design Slip-On Sneakers    749
25            Sir Corbett                  Semi-Formal Shoes    914
26               Fentacia                      Wedge Sandals    799
27             HIGHLANDER                       Men Sneakers    995
28                   Puma            Men SOFTRIDE Rift Shoes   2924
29                   Puma                     Women Sneakers   1924
30               Red Tape                  Men Walking Shoes   1889
31                 ADIDAS     Men Lite Racer Cln 2.0 Running   2799
32                   Puma                  Men Running Shoes   1749
33               Provogue       Men Black Solid Formal Debys    899
34               Red Tape                Women Walking Shoes   1529
35             HIGHLANDER                       Men Sneakers    995
36               Red Tape                  Men Walking Shoes   1589
37                 Killer          Men Woven Design Sneakers   1149
38                   Nike        Men VENTURE RUNNER Sneakers   4121
39               Roadster         Men Solid Slip-On Sneakers   1199
40               INVICTUS      Men Solid Formal Oxford Shoes    928
41                   Puma             Men Lex Training Shoes   4799
42               Red Tape   Men Solid Formal Slip On Loafers   2099
43                 Campus                  Men Walking Shoes    934
44            one8 x PUMA                 Men Solid Sneakers   3374
45               Red Tape                  Men Walking Shoes   1889
46                Mactree          Men Solid Leather Loafers    898
47               Fentacia               Men Woven Flat Boots    899
48        U.S. Polo Assn.                     Men PU Loafers   1919
49  HRX by Hrithik Roshan             Men Alpha Running shoe   2159
50                   Nike       Women WINFLO 8 Running Shoes   7050

## Go to webpage https://www.amazon.in/ . Enter “Laptop” in the search field and then click the search icon.

In [91]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [92]:
# web driver to be used, needs to be connected

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_21900/2924793791.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [93]:
# open the required url
url5 = 'https://www.amazon.in/'
driver.get(url5)

In [94]:
search_field = driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_field.send_keys("Laptop")

In [95]:
search_b3 = driver.find_element(By.XPATH , '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_b3.click()

In [96]:
# apply CPU filter

search_intel = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[12]/span/a/div/label/i').click()

In [97]:
titles = []
rating = []
price = []

In [98]:
#Lets extract all the tags with titles
title_tags = driver.find_elements(By.XPATH, "//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

In [99]:
#Now the text title is inside tag above
for i in title_tags[ : 10]:
    title=i.text
    titles.append(title)

In [100]:
#Lets extract all tags having the ratings
rating_tags = driver.find_elements(By.XPATH, "//span[@class='a-icon-alt']")

In [101]:
for i in rating_tags[ : 10]:
    rate=i.text
    rating.append("Not Available")

In [102]:
# extract all tags with price
price_tags = driver.find_elements(By.XPATH, "//span[@class='a-price-whole']")

In [103]:
for i in price_tags[ : 10]:
    pr = i.text
    price.append(pr)

In [104]:
sr_no=[]
for l in range(1 , 11):
    sr_no.append(l)

In [105]:
# check and print the data frame
pd.set_option("display.max_rows", None, "display.max_columns", None)
df6 = pd.DataFrame({'Title':titles, 'Rating':rating, 'Price':price}, index = sr_no)
df6

                                                Title         Rating   Price
1   ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  Not Available  89,990
2   Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...  Not Available  87,900
3   Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  Not Available  86,990
4   Infinix INBook X1 Pro Core i7 10th Gen - (16 G...  Not Available  53,999
5   Samsung Galaxy Book2 Intel 12th Gen core i7 39...  Not Available  79,990
6   LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...  Not Available  85,499
7   Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...  Not Available  82,990
8   Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...  Not Available  75,990
9   HP Envy 11th Gen Intel Evo Core i7 14 inch(35....  Not Available  99,400
10  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  Not Available  57,890

## Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.

In [106]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [107]:
# web driver to be used, needs to be connected

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_21900/2924793791.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [108]:
# open the required url
url6 = 'https://www.ambitionbox.com/'
driver.get(url6)

In [109]:
# click on job option
job_option = driver.find_element(By.XPATH, "/html/body/div[1]/nav/nav/a[6]")
job_option.click()

In [110]:
#find element in search bar
search_field = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field.send_keys("Data Scientist")

In [112]:
#click search icon                  
search_b4 = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span").click()

In [113]:
#click location icon 
loc_icon=driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p").click()

In [114]:
#finding location and sending NOIDA as key
search_fields=driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_fields.send_keys("Noida")

In [115]:
#clicking on Noida
search=driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div").click()

In [116]:
company = []
time_period = []
rating = []

In [117]:
# extract all tags having the company names
company_tags = driver.find_elements(By.XPATH, "//p[@class='company body-medium']")

In [118]:
# now text on company names is in above tag
for i in company_tags[0:10]:
    title=i.text
    company.append(title)

In [119]:
# extract all tags having time period
time = driver.find_elements(By.XPATH, "//div[@class='other-info']/span[1]")

In [120]:
# time period is inside the tag above
for i in time[0 : 10]:
    t=i.text
    time_period.append(t)

In [121]:
# extract all tags having rating
rate_tags = driver.find_elements(By.XPATH, "//span[@class='body-small']")

In [122]:
#Now the text of the rating is inside the tag extracted above
for i in rate_tags[0 : 10]:
    r=i.text
    rating.append(r)

In [123]:
sr_no=[]
for k in range(1 , 11):
    sr_no.append(k)

In [124]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df7 = pd.DataFrame({'Company':company, 'No. of days ago when job was posted':time_period, 'Rating':rating}, index=sr_no)
df7

,Company,No. of days ago when job was posted,Rating
1,IBM India Pvt. Limited,1d ago,4.2
2,IBM India Pvt. Limited,2d ago,4.2
3,Schneider Electric India Pvt. Ltd.,2d ago,4.2
4,IBM India Pvt. Limited,2d ago,4.2
5,IBM India Pvt. Limited,2d ago,4.2
6,Walmart Labs,2d ago,4.2
7,J.P. Morgan Services India Private Limited,6d ago,4.2
8,Shell India Markets Private Limited,2d ago,4.4
9,IBM India Pvt. Limited,5d ago,4.2
10,IBM India Pvt. Limited,5d ago,4.2

## Write a python program to scrape the salary data for Data Scientist designation.

In [328]:
# import libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [357]:
# web driver needs to be connected

driver = webdriver.Chrome('chromedriver.exe')

C:\Users\DINESH~1\AppData\Local\Temp/ipykernel_21900/759890233.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [358]:
# open ambitionbox.com website on automated window
url7 = 'https://www.ambitionbox.com/'
driver.get(url7)

In [359]:
# click on salary option                  
salary_option = driver.find_element(By.XPATH, "/html/body/div[1]/nav/nav/a[4]")
salary_option.click()

In [360]:
# find element in search bar
search_field = driver.find_element(By.XPATH, '/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_field.send_keys("Data Scientist")

In [361]:
# click on Data Scientist 
ds = driver.find_element(By.XPATH, "/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
ds.click()

In [362]:
company = []
total_sal = []
avg_sal = []
min_sal = []
max_sal = []
experience = []

In [363]:
# extract all tags having company names
company_tags = driver.find_elements(By.XPATH, "//a[@title='name']/a")

In [364]:
# text of the company name is inside tag above
for i in company_tags[0 : 10]:
    title=i.text
company.append(title)

In [365]:
# extract all tags having total number of salary
total = driver.find_elements(By.XPATH, "/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div/span")

In [366]:
# total no of salary  is inside the tag above
for i in total[0 : 10]:
    t=i.text.split()[2]
    total_sal.append(''.join(t))

In [367]:
# extract all tags having average salary
avg = driver.find_elements(By.XPATH, "/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[1]/div/p")

In [368]:
# average salary is inside the tag above
for i in avg[0 : 10]:
    r=i.text
    avg_sal.append(r)

In [369]:
# extract all tags having minimum salary
min = driver.find_elements(By.XPATH, "/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[1]")

In [370]:
# minimum salary is inside tag above
for i in min[0 : 10]:
    m=i.text
    min_sal.append(m)

In [371]:
# extract all tags having maximum salary
max = driver.find_elements(By.XPATH, "/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[2]")

In [372]:
#Now the maximum salary is inside the tag extracted above
for i in max[0 : 10]:
    mx=i.text
    max_sal.append(mx)

In [373]:
# extract all tags having experience
exp_tags = driver.find_elements(By.XPATH, "//div[@id='sal-table']/div[2]/div[3]/div[1]/div/div/div")

In [374]:
# experience is inside tag above
for i in exp_tags[0 : 10]:
    l = len(i.text.split())
    ex = i.text.split()[3 : l-1]
    experience.append(' '.join(ex))

In [375]:
sr_no=[]
for k in range(1,11):
    sr_no.append(k)

In [376]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df8 = pd.DataFrame({'Company':company, 'Total Salary Record' : total_sal, 'Average Salary' : avg_sal, 'Minimum Salary' : min_sal, 'Maximum Salary' : max_sal, 'Experience' : experience}, index=sr_no)
df8

,Company,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience
1,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15
2,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15
3,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15
4,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15
5,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15
6,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15
7,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15
8,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15
9,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15
10,Walmart\nData Scientist Salary,12,₹ 30.6L,₹ 25.0L,₹ 36.0L,(based on 15